<nav class="navbar navbar-light">
  <div class="container-fluid">
    <h1>User Details</h1>
    <div class="d-flex">
      <button (click)="clickAddEmployee()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add
        User</button>
    </div>
  </div>
</nav>
<table class="table mt-3 table-bordered">
  <thead>
    <tr>

      <th scope="col">Email ID</th>
      <th scope="col">Name</th>
      <th scope="col">image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of EmployeeData ">




      <td>{{row.email}}</td>
      <td>{{row.firstName +"  "+ row.lastName}}</td>
      <td> {{row.image}}</td>
      <td>
        <button (click)="onEdit(row)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">View</button>
        <button (click)="onEdit(row)"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
          class="btn btn-info mx-2">edit</button>
        <button (click)="deleteEmployee(row)" type="button" class="btn btn-danger mx-2">delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">user details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email"
              aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">First Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="firstName">
          </div>
           <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">last Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="lastName">
          </div>
          <div class="mb-3">
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*"  formControlName="Image">
            

          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">add</button>
        <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary">update</button>
      </div>
    </div>
  </div>
</div>